h1 {
  color: white;
  text-align: center;
}
h2 {
  color: black;
  font-style: impact;
}
ol {
  line-height: 50px;
  color: white;
  font-style: georgia;
}
ul {
  line-height: 50px;
  color: White;
  font-style: trebuchet;
}
